{% extends 'base.html' %}
{% load static %}
{% block content %}
   <!-- header section end -->
   <form method='POST' action="{% url 'blog:post-create' %}" style='text-align: center' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="get_bt">Post</button>
   </form>
   <!-- barber section start -->
   <div class="barber_section layout_padding">

      <div class="container">
         {% for post in posts %}
         <div class="braber_taital_main">
            <div class="row">
               <div class="col-lg-6">
                  <div class="barber_bg_main">
                     <h1 class="barber_taital"><a href="{{ post.get_absolute_url }}">{{ post.name }}<a/></h1>
                     <p class="barber_text">{{ post.text }}</p>
                     <div class="blogr_main">
                        <div class="blogr_left">
                           <p class="post_text">Post By : {{ post.author }}</p>
                        </div>
                        <div class="blogr_right">
                           <div class="comment_text">
                              <ul>
                                 <li>
                                    <form action="{{ post.rate_link }}" method="POST">
                                       {% csrf_token %}
                                       <input name='is_positive' value='1' hidden/>
                                       <button><span class="">{{ post.get_likes }} <i class="fa fa-thumbs-up"></i></span></button>
                                    </form>
                                 </li>
                                 <li>
                                    <form action="{{ post.rate_link }}" method="POST">
                                       {% csrf_token %}
                                       <input name='is_positive' value='0' hidden/>
                                       <button><span class="">{{ post.get_dislikes }} <i class="fa fa-thumbs-down"></i></i></span></button>
                                    </form>
                                 </li>
                                 <li><a href="#">{{ post.comment_set.count }}<span class="padding_10"><i class="fa fa-comment"></i></span></a></li>
                                 <li><a href="#">Share<span class="padding_10"><i class="fa fa-share-alt" aria-hidden="true"></i></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="fashion_img">
                     {% if post.image %}
                     <img src="{{ post.image.url }}" class="fashion_img">
                     {% else %}
                     <h3>No Image<h3/>
                     {% endif %}
                     <div class="read_bt"><a href="#">{{ post.get_create_date }}</a></div>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
{% endblock content %}
